
.container {
  max-width: 800px;
  margin: 0 auto;
}
.nav {

  list-style-type: none;

  padding: 0;

}
.nav li{
  padding-right:15px;
  margin:  10px 0;
}

.content-wrapper {
  display: grid;
  grid-template-areas: "header header header"
  "sidebar main main"
  "footer footer footer";
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
}
.content-wrapper header {
  grid-area: header;
  min-height: 40px;
  background-color: aqua;
  padding: 15px;
}
.content-wrapper .sidebar {
  padding: 15px;
  grid-area: sidebar;
  background-color: green;
}
.content-wrapper .main {
  grid-area: main;
  background-color: brown;
  padding: 15px;
}
.content-wrapper footer {
  grid-area: footer;
  background-color: red;
  padding: 15px;
}
